<h1>Hello World, for the n'th time!</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <div class="about-me">
      <p><b><i>I was looking</i></b> for something scalable, quick to deploy and develop on so i stumbled upon this beaty of a framework for Ruby! <b><i>Ruby on Rails</i></b> was, well love at first... scaffold generated! <b><i>Ever since then</i></b> i've been on a deep dive to understand how Rails can leverage ruby, in such a beatyful and efficent way.</p>
      <p><b><i>These pages are</i></b> an end product on a course on web development using RoR. <b><i>I hope you</i></b> enjoy browsing them as much as i did creating them.</p>
      <p><b><i>I learn as i go, and run with what i've got!</i></b></p>
    </div>
  </div>
</div>
