<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <p>I've always been driven towards understanding how things work, especially in how humans have created a complex calculator, the computer, and with that have opened a multitude of new possibilities only accessible with human computer interaction.</p>

    <p>I've always been driven towards understanding how things work, especially in how humans have created a complex calculator, the computer, and with that have opened a multitude of new possibilities only accessible with human computer interaction.</p>
  </div>
</div>
