

<main role="main" class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Do not dwell in the past, do not dream of the future, concentrate the mind on the present.</p>

    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
